@media (max-width: 1200px)
    .container
        max-width: 960px
.promo
    &_menu
        &__item
            font-size: 12px
    &_numer
        &__phone
            font-size: 16px
    &_information
        grid-template-columns: repeat(4, 233px)
.benefits
    &_wrapper
        grid-template-columns: repeat(2, 465px)
    &_item
        grid-template-columns: 65px 383px
.work
    &_wrapper
        grid-template-columns: repeat(3, 300px)
    &_item
        &__img
            img
                width: 100%
.agent
    &_subtitle
        font-size: 17px
.price
    &_wrapper
        grid-template-columns: repeat(2, 265px)
        justify-content: center
        gap: 40px
.meneger
    &_descr
        font-size: 17px
.pageup
    bottom: 20px
    right: 20px
    bottom: 25px
    right: 25px
.reviews
    &_carousel
        .slick-prev, .slick-next
            left: 41%
        .slick-next
            left: auto
            right: 41%

@media (max-width: 992px)
    .container
        max-width: 720px



@media (max-width: 768px)
    .container
        max-width: 540px



@media (max-width: 576px)
    .container
        max-width: 100%
        padding: 0 10px